@charset "UTF-8";


/* common */
body {
  font-family: "Zen Kaku Gothic New,sans-serif";
  font-size: 12px;
}

/* header */





/* drawer menu*/
/* menu fixed */
.g_menu {
  /* 右上に固定・前面表示 */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/* input 要素 チェックボックスを非表示 */
.menu_btn {
  display: none;
}

/* label 要素 アイコン作成 */
.menu_icon {
  /* 右上に絶対配置 */
  position: absolute;
  right: 8px;
  top: 8px;
  height: 20px;
  padding-top: 5px;
  /* ポインターの形状 指 */
  cursor: pointer;
}

/* span 要素 中央の線作成 */
.navicon {

  /* ブロックレベルへ変更 */
  display: block;
  /* 線の長さ */
  width: 31px;
  /* 線の太さ */
  height: 2px;
  /* 線の色 */
  background-color: #fff;

  /* ::before と ::after の基準要素*/
  position: relative;

}

/* 上と下の線作成 上下共通 */
.navicon::before,
.navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  /* 基準要素 span.navicon に対して絶対配置 */
  position: absolute;
  /* 三本線と X の切替えアニメーション 速く始まりゆっくり終わる */
  transition: all .4s ease-out;
}

/* 下の線のみ */
.navicon::before {
  /* 上からの位置 */
  top: 10px;
}

/* 上の線のみ */
.navicon::after {
  /* 上へ 10px の位置 */
  top: -10px;
}

/* ul 要素 メニュー */
.menu {
  background-color: #000000B3;
  text-align: center;
  /* 非表示 */
  overflow: hidden;
  /* 最大の高さ */
  max-height: 0px;
  /* 非表示の際のアニメーション */
  transition: max-height 0.6s;
}

/* 1 つ目の li 要素 */
.menu li:first-of-type {
  padding-top: 56px;
}

/* a 要素 */
.menu a {
  display: block;
  padding: 24px 20px;
}

/* ↓チェックボックスが ON の場合 */
/* 非表示にしていた ul.menu を表示 */
.menu_btn:checked~.menu {
  max-height: 375px;
  /* 元 0px */
  /* 表示の際のアニメーション */
  transition: max-height 0.6s;
}

/* 中央の線を非表示 */
.menu_btn:checked~.menu_icon .navicon {
  background: transparent;
  /* 元 #333 */
}

/* 上下の線を 45 度傾けて X アイコンを作成 */
.menu_btn:checked~.menu_icon .navicon::before {
  /* 反時計回りに回転 */
  transform: rotate(-45deg);
  top: 0;
  /* 元 10px */
}

.menu_btn:checked~.menu_icon .navicon::after {
  /* 時計回りに回転 */
  transform: rotate(45deg);
  top: 0;
  /* 元 -10px */
}

/* ロード画面 */
body {

  background-color: blue;
  overflow: hidden;

}

#uguisudani {
  animation: yokohama 3s infinite linear;
  transform: scale(3);
  position: relative;
  top: 50vh;
  left: 50vw;


}

@keyframes yokohama {
  0% {
    opacity: 0;
    transform: scale(5);
  }

  25% {
    transform: scale(3);
  }

  50% {
    /* display: none; */
    transform: scale(5);
  }

  100% {
    transform: scale(15);
    opacity: 1;
  }


}