@charset "UTF-8";


/* common */
body {
  font-family: "Zen Kaku Gothic New,sans-serif";
  font-size: 12px;
  font-weight: 400;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}

/* header */
.logo_image {
  width: 100px;
  text-align: left;
  z-index: 99;
}

.pc_logo_image {
  display: none;
}

.pc_menu {
  display: none;
}

/* footer */
footer {
  background-color: #007AB7;
  position: relative;
}

#a {
  width: 100px;
  height: 100px;
  padding: 5px;
  animation: a1 3s infinite linear;
}

#d {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: -180px;
  left: 35%;
}

.center {
  text-align: center;
}

.flag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.f_nav {
  letter-spacing: 0;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.f_nav li {
  display: block;
  margin-bottom: 12px;
  border-bottom: #fff solid 1px;
  padding-left: 7.5px;
  padding-bottom: 7px;
}

.sns_logo {
  display: flex;
  max-width: 154px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  z-index: 99;
}

.sns_logo li:not(:first-of-type) {
  margin-left: 20px;
}

.sns_logo li img {
  width: 38px;
  height: 38px;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

/* drawer menu*/
/* menu fixed */
.g_menu {
  /* 右上に固定・前面表示 */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/* input 要素 チェックボックスを非表示 */
.menu_btn {
  display: none;
}

/* label 要素 アイコン作成 */
.menu_icon {
  /* 右上に絶対配置 */
  position: absolute;
  right: 8px;
  top: 10px;
  height: 25px;
  padding-right: 8.5px;
  padding-left: 8.5px;
  padding-top: 23px;
  border-radius: 50%;
  /* ポインターの形状 指 */
  cursor: pointer;
  background-color: #000000B3;
}

/* span 要素 中央の線作成 */
.navicon {
  /* ブロックレベルへ変更 */
  display: block;
  /* 線の長さ */
  width: 31px;
  /* 線の太さ */
  height: 2px;
  /* 線の色 */
  background: #fff;
  /* ::before と ::after の基準要素 */
  position: relative;
}

/* 上と下の線作成 上下共通 */
.navicon::before,
.navicon::after {
  content: "";
  width: 80%;
  height: 100%;
  background: #fff;
  /* 基準要素 span.navicon に対して絶対配置 */
  position: absolute;
  /* 三本線と X の切替えアニメーション 速く始まりゆっくり終わる */
  transition: all .4s ease-out;
  left: 3px;
}

/* 下の線のみ */
.navicon::before {
  /* 上からの位置 */
  top: 10px;
}

/* 上の線のみ */
.navicon::after {
  /* 上へ 10px の位置 */
  top: -10px;
}

/* ul 要素 メニュー */
.menu {
  background-color: #000000B3;
  text-align: center;
  /* 非表示 */
  overflow: hidden;
  /* 最大の高さ */
  max-height: 0px;
  /* 非表示の際のアニメーション */
  transition: max-height 1.5s;

}

/* 1 つ目の li 要素 */
.menu li:first-of-type {
  padding-top: 120px;
}

.menu li:last-of-type {
  margin-bottom: 100vh;
}

/* a 要素 */
.menu a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 20px;
}

/* ↓チェックボックスが ON の場合 */
/* 非表示にしていた ul.menu を表示 */
.menu_btn:checked~.menu {
  max-height: 100vh;
  /* 元 0px */
  /* 表示の際のアニメーション */
  transition: max-height 1.5s;
}


/* 中央の線を非表示 */
.menu_btn:checked~.menu_icon .navicon {
  background: transparent;
  /* 元 #333 */
}

/* 上下の線を 45 度傾けて X アイコンを作成 */
.menu_btn:checked~.menu_icon .navicon::before {
  /* 反時計回りに回転 */
  transform: rotate(-45deg);
  top: 0;
  width: 100%;
  left: 0;
  /* 元 10px */
}

.menu_btn:checked~.menu_icon .navicon::after {
  /* 時計回りに回転 */
  transform: rotate(45deg);
  top: 0;
  width: 100%;
  left: 0;
  /* 元 -10px */
}

/* 768px以上 */
@media screen and (min-width:768px) {

  /* header */
  .logo_image img {
    display: none;
  }

  .pc_logo_image {
    display: block;
    margin-left: 7.5vw;
  }

  .pc_logo_image img {
    width: 140px;
    margin-top: 20px;
  }

  /* nav */
  .menu_icon {
    display: none;
  }

  .pc_menu {
    display: flex;
    position: absolute;
    top: 16px;
    right: 0;
    margin-right: 14vh;
  }

  .pc_menu li {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
  }

}

/* ロード画面 */


.loading {
  /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
  width: 100vw;
  height: 100vh;
  /*ローディング画面の表示位置を固定*/
  position: fixed;
  top: 0;
  left: 0;
  background: #1082ce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*ローディング画面を0.5秒かけて非表示にする*/
  transition: all 0.5s linear;
}

/*ローディング画面を非表示にする*/
.loading.loaded {
  /*0.5秒かけてopacityを0にする*/
  opacity: 0;
  visibility: hidden;
}

.loading-text {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #FFF;
  border-left-color: #000000;
  /* アニメーションを1秒かけて実行 */
  animation: yokohama 1s linear infinite;
}

/* body {

  background-color: #007AB7;
  overflow: hidden;

} */

/* #uguisudani {
  animation: yokohama 3s infinite linear;
  transform: scale(3);
  position: relative;
  top: 50vh;
  left: 50vw;


} */

@keyframes yokohama {
  0% {
    opacity: 0;
    transform: scale(5);
  }

  25% {
    transform: scale(3);
  }

  50% {
    display: none;
    transform: scale(5);
    transform: rotate(3000deg);
  }

  100% {
    transform: scale(15);
    transform: rotate(-500deg);
    opacity: 1;
  }


}