"@charset utf-8"

a {
  display: block;

}

span {
  display: block;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 100px auto;
}

* {
  margin: 0;
  padding: 0;
}


/* ロード画面呼び出しのみにしてアニメーション側で位置や領域を指定することにより自由に配置が可能、その後指定秒数後画面を消去で完成
Zindexなどの画面に作用が少ないものや要素の幅等に作用しないものは呼び出し側でも問題ないが基本的にはアニメーション側があり
*/

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: aqua;

}

#aa {
  animation: rodo 3s linear;
}


@keyframes rodo {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}

#bb {
  text-align: center;
  font-size: 20px;

}






/* ロード画面消去用 */
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}